<%- include bossheader.ejs %>
<div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>用户管理页面</span>
            </div>
            <div class="search">
                <span>用户名：</span>
                <input type="text" placeholder="请输入用户名"/>
                <input type="button" value="查询"/>
                <a href="/bossindex/useradd">添加管理员</a>
            </div>
            <!--用户-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th width="10%">管理员编码</th>
                    <th width="20%">管理员名称</th>
                    <th width="10%">性别</th>
                    <th width="10%">年龄</th>
                    <th width="10%">电话</th>
                    
                    <th width="30%">操作</th>
                </tr>




              <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td>
                    <%= data[i].id %>
                </td>
                 <td>
                    <%= data[i].name %>
                </td>
                 <td>
                    <%= data[i].password %>
                </td>
                <td>
                    <%= data[i].sex %>
                </td>
                 <td>
                    <%= data[i].photo %>
                </td>
                 <td>
                    
                    
                    <a href="#" class="removeProvider" action="/adindex/movieadd" method="post"><img src="/images/img/schu.png" alt="删除" title="删除"/></a>
                </td>
              </tr>
              <% } %>








             
            </table>

        </div>
    </section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeUse">
    <div class="removerChid">
        <h2>提示</h2>
        <div class="removeMain">
            <p>你确定要删除该用户吗？</p>
            <a href="#" id="yes">确定</a>
            <a href="#" id="no">取消</a>
        </div>
    </div>
</div>